.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo {
  width: 120px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: .5rem; /* Space between the logo and the title */
}

.header-container {
  background-image: url('/public/cover.jpeg');
  background-size: cover;
  background-position: center;
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.header-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(123, 91, 75, 0.6); /* Adjusted overlay color for consistency */
  z-index: 1;
}

.header-container > * {
  position: relative;
  z-index: 2; 
}

.header-content h1 {
  font-size: 6rem;
  margin: 0;
}

.header-content h2 {
  font-size: 4rem;
  margin: 10px 0;
}

.header-content p {
  font-size: 1.2rem;
}

/* Details Section Styles */
.details-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  background-color: #e5e0da;
  width: 100%;
  max-width: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  position: relative;
}

.details-image-container {
  padding: 2rem;
  max-width: 35%;
}

.details-image {
  width: 100%;
  height: auto;
}

.details-content {
  flex: 1;
  font-size: 1rem;
  max-width: 50%;
}

.details-info {
  margin-top: 1rem;
  font-weight: 300;
}

.details-info h2, .details-info h3 {
  margin: 2rem 0 0.5rem 0;
  font-weight: 600 !important;
  color: #60442b; /* Added consistent color */
}

.details-highlight {
  text-align: center;
  margin: 20px 0;
  padding: 10px;
  /* background-color: #fdfdfd; Slightly lighter background to make the quote stand out */
  border-left: 4px solid #b38b6d;
  border-right: 4px solid #b38b6d;
  border-radius: 5px; /* Added rounded corners for a softer look */
}

.highlight-text {
  font-style: italic;
  font-size: 1rem;
  color: #60442b; /* Adjusted color to fit the theme */
}

/* Mobile-specific title styling */
.details-title-mobile {
  display: none;
}

.details-highlight-mobile {
  display: none;
}

.details-title-desktop {
  display: block;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #3a2e20; /* Title color to fit the theme */
}

/* Media Queries for Tablet and Smaller Devices */
@media (max-width: 768px) {
  .header-logo {
    width: 120px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: .1rem; /* Space between the logo and the title */
  }
  
  .header-container {
    max-height: 40vh !important;
    background-size: 150%; 
    padding: 0 1rem;
  }

  .header-content h1 {
    font-size: 4rem;
  }

  .header-content h2 {
    font-size: 2.5rem;
  }

  .header-content p {
    font-size: 1.5rem;
  }

  .details-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 2rem;
    gap: 1rem;
  }

  .details-image-container {
    max-width: 65%;
  }

  .details-content {
    max-width: 90%;
    text-align: center;
  }

  .details-info h3 {
    font-size: 1rem;
  }
  
  .contact-container {
    width: 90%;
    padding: 1rem;
  }

  .contact-container h2 {
    font-size: 1.2rem;
  }

  .details-highlight {
    text-align: center;
    margin: 20px 5px;
    padding: 10px;
    /* background-color: #fdfdfd; Slightly lighter background to make the quote stand out */
    border-left: 4px solid #b38b6d;
    border-right: 4px solid #b38b6d;
    border-radius: 5px; /* Added rounded corners for a softer look */
  }

  .details-highlight-desktop {
    display: none;
  }

  .highlight-text {
    font-size: 1.2em;
    color: #333;
  }
}

.footer {
  padding: 15px;
  margin: 2rem;
  text-align: center;
}

.footer-title {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

/* Mobile Devices */
@media (max-width: 480px) {
  .header-logo {
    width: 120px; /* Adjust the size as needed */
    height: auto;
    margin-bottom: .1rem; /* Space between the logo and the title */
  }
  .header-container {
    height: 50vh;
    background-size: 200%;
    background-repeat: no-repeat;
  }

  .header-content h1 {
    font-size: 3rem;
  }

  .header-content h2 {
    font-size: 2rem;
  }

  .header-content p {
    font-size: 1.2rem;
  }

  .details-info h2 {
    font-size: 1.2rem;
    font-weight: 600 !important;
    color: #60442b;
  }

  .details-container, .contact-container {
    width: 100%;
  }

  .details-image-container {
    max-width: 75%;
  }

  .details-title-desktop {
    font-weight: 300 !important;
    font-size: 2rem;
  }
  .details-highlight-desktop {
    display: none;
  }

  .details-highlight-mobile {
    display: block;
  }

  .highlight-text {
    font-size: 1.2em;
    color: #333;
  }
}


/* Styling for location icon and link */
.location-icon {
  color: #8B4513; /* Brown color */
  margin-right: 5px;
  font-size: 1.1rem;
  vertical-align: middle; /* Aligns the icon with the text */
}

.details-info a {
  text-decoration: none; /* Remove underline */
  font-weight: 300; /* Make the link stand out */
}

.details-info a:hover {
  text-decoration: underline; /* Underline on hover for better UX */
}